In [2]:
import numpy as np
# numpyをas　npとして読み込む

In [3]:
#ベクトルの定義
a = np.array([[1],[2],[3]])
a

array([[1],
       [2],
       [3]])

In [4]:
#行列の定義
A = np.array([[1,2],[3,4]])
A

array([[1, 2],
       [3, 4]])

In [5]:
# 転置の計算
At =A.T
At

array([[1, 3],
       [2, 4]])

In [6]:
#逆行列の計算
Ainv = np.linalg.inv(A)
Ainv

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [7]:
# 行列積 
AAinv = np.dot(A, Ainv)
AAinv

#答えの左下が0になっていないが、e-16乗を掛け合わせてと書いてあり、ほぼゼロなのでOK

array([[1.0000000e+00, 0.0000000e+00],
       [8.8817842e-16, 1.0000000e+00]])

In [8]:
#実践課題
X = np.array([[1,2,3],[1,2,5],[1,3,4],[1,5,9]])
y = np.array([[1],[5],[6],[8]])
#下記の転置は、教科書のように、ここで代入しないで、式の中でやっても良い
Xt = X.T
XtX = np.dot(Xt, X)
XtXinv = np.linalg.inv(XtX)
#行列積は２つしか選べないので、(X'X)^{-1}X' をやって、次にyベクトルとかける
XtXinvXt = np.dot(XtXinv, Xt)
a = np.dot(XtXinvXT, y)
print(a)

NameError: name 'XtXinvXT' is not defined

##pandas

In [9]:
import pandas as pd

In [10]:
#header=None は引っ張ってきているcsvにheader がないのでやっている
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)

In [11]:
#df は data frame　の略　
# df とだけすると全部のデータが表示されるが、df.head だと上から５個表示してくれる
# df.head(10)だと１０個
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [12]:
#ラベル付け
df.columns = ['sepal width', 'sepal length', 'petal width', 'petal length', 'class']

In [13]:
#上から5件データを表示
df.head()

#この場合、入力Xは数値の部分、出力Yはclassを出力にして、classを判断していく？

   sepal width  sepal length  petal width  petal length        class
0          5.1           3.5          1.4           0.2  Iris-setosa
1          4.9           3.0          1.4           0.2  Iris-setosa
2          4.7           3.2          1.3           0.2  Iris-setosa
3          4.6           3.1          1.5           0.2  Iris-setosa
4          5.0           3.6          1.4           0.2  Iris-setosa

In [14]:
#課題　カラム名　クラスを上から５つ取り出してください
#pythonでデータサイエンス　という風にしていく
df[["class"]].head()

#csvに下記を書き出したい場合は　df[["class"]].head().to_csv("new.csv")や、new.xlsx とすると出せる
# df[["class"]].head().to_csv("new.csv") とかくとjppyter のホームページにデータが出力される

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [15]:
#データの切り分け
#入力変数X 出力変数yの抽出（入力変数が大文字なのは行列だから）
X = df[['sepal width', 'sepal length', 'petal width', 'petal length']]
#上を書き換えて、sepal sidth 〜 petal length までを抽出してください

#yも抽出してください。
y = df[["class"]]

In [16]:
#matplotlib の教科書にある%matplotlib inline　はおまじない（jupiter で使うさいの）